spring:
  application:
    name: backend
  datasource:
    url: jdbc:mariadb://localhost:3310/spj_db
    username: root
    password: "1234"
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
    ddl-auto: update